* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.container {
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #f7abea98;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.container.card img {
    transition: 0.5s;
}

.container .card h1 {
    color: #000;
    font-size: 2rem;
}

.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content p {
    font-size: 20px;
    color: #0a0a0a;
    transition: 0.5s;

}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #f7cdf4;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 10px;
}

.container .card:hover {
    background-color: rgb(255, 160, 216);
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #ff04c04b;
    border-color: #e48bcea9;
}

.container .card:hover img {
    filter: invert(1);
    background-position: left center;
}

.container .card:hover .content p {
    filter: rgb(8, 8, 8);
}

container .card:hover .content p {
    color: #f3eeee;
    background-color: #fff;
}

body {
    background-image: url(8442349.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

body {
    background-color: rgba(201, 180, 202, 0.849);
}